<!DOCTYPE html>
<html>

  {{template "header"}}

<body>

    {{template "navbar" .}}

  <div class="boletos-container">

    <a class="btn btn-secondary boletos-boton-regresar" href="/events" role="button">Regresar a Eventos</a>

    <h2 class="boletos-events-title align-center"> {{.event.Name}} </h2>



    {{template "footer"}}
  </div>

</body>

</html>
