<!DOCTYPE html>
<html>

  {{template "header"}}

  <body>

    {{template "navbar" .}}

    <h1>Welcome to Boletos Ecuador App</h1>
    <h2> {{.title}} </h2>
    {{range .data }}
      <p>
        {{.Joke}}
      </p>
    {{end}}

    {{template "footer"}}

  </body>
</html>
