<!DOCTYPE html>
<html>

  {{template "header"}}

<body>

    {{template "navbar" .}}

  <div class="boletos-container">

    <h2 class="boletos-events-title align-center"> Eventos Disponibles </h2>

    <div class="card-deck">
    {{range .data }}
      <div class="card boletos-card">
        <h5 class="card-header">{{.Name}}</h5>
        <div class="card-body">
          <h5 class="card-title">{{.Date}}</h5>
          <p class="card-text">{{.Description}}</p>
          <a href="/events/{{.ID}}" class="btn btn-primary">Mas Informacion</a>
        </div>
      </div>
    {{end}}
    </div>

    {{template "footer"}}
  </div>

</body>

</html>
