{{define "navbar"}}

  <nav class="boletos-navbar">
    <div class="boletos-title-box">
      <a href="/" class="no-decoration">
        <div class="bold boletos-title">Bienvenido a Boletos Ecuador</div>
      </a>
      <div class="boletos-subtitle">
        Todos los eventos a un click de distancia.
      </div>
    </div>
    <div class="boletos-login-box">
      {{if not .user}}
        <a href="/login">
          <button type="button" class="btn btn-light">Log In</button>
        </a>
      {{else}}
      <div class="dropdown">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{.user}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item boletos-profile-button" href="/profile">Profile</a>
          <a class="dropdown-item boletos-logout-button" href="#">Logout</a>
        </div>
      </div>
      {{end}}
    </div>
  </nav>

{{ end }}
