<!DOCTYPE html>
<html>

  {{template "header"}}

<body>

    {{template "navbar" .}}

  <div class="boletos-container">

    <h2 class="boletos-events-title align-center"> Bienvenido {{.user}} </h2>

    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Tickets Comprados</h5>
          <small>Desde Siempre</small>
        </div>
        <p class="mb-1"></p>
        <ul class="list-group list-group-flush" id="boletos-tickets-comprados">
        </ul>
      </a>
    </div>

    {{template "footer"}}
  </div>

</body>

</html>
