.btn-positive{
  background-color: #387ef5 !important;
  border-color: #0c63ee !important;
  color: #fff !important;
}

.btn {
  font-weight: bold;
}

#sync-instances {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 500;
}

#add-instance-responsive {
    position: fixed;
    bottom: 95px;
    right: 20px;
    z-index: 500;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}


/* END */
.btn.focus, .btn:focus, .btn:hover{
}
