.card-columns{
  margin-top: 24px;
}

.card-deck{
  margin-top: 24px;
}

.card-deck > .card
{
    width: 29%;
    flex-wrap: wrap;
    flex: initial;
}

.boletos-card{
  margin-bottom: 16px !important;
}

.boletos-boton-regresar{
  margin-bottom: 16px !important;
}

.boletos-events-title{
  margin-bottom: 16px !important;
  margin-top: 16px !important;
}

.list-group-item{
  background-color: transparent !important;
}

#boletos-add-ticket{
  margin-right: 8px !important;
}
